<h1>Let's create a bookmark</h1>

<%= simple_form_for [@bookmark, @list] do |f| %>
  <%= f.input :title %>
  <%= f.input :overview %>
  <%= f.association :movie %>
  <%= f.input :rating %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back to the lists", lists_path %>
